.logolabel{
    padding-top: 30px;
    padding-left: 14px;
    font-size: 24px;


}
.logo-container{
    cursor: pointer;
}
.mobilmenu ul {
    position: fixed;
    left:0px;
    top: 86px;
    width: 100%;
}
.mobilmenu ul li{
    padding: 15px;

    background-color: #f1f1f1;
    border-bottom: solid 1px black;
}
.mobilmenu ul li:hover{
    background-color: #999999;
    color: white;
}
.mobilmenu ul li a{
    text-decoration: none;

}
.mobilmenu ul li a:hover{
    color: white;
    font-weight: bold;
}