<div class="middle-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-8">
                <h1 class="logo"><a href="index.html"><img width="60" src="template/images/logo.jpg" alt="Logo"></a></h1>
            </div>
            <div class="col-md-8 col-sm-4 col-xs-4">
                <div class="contact-info-blocks hidden-sm hidden-xs">
                    <div>
                        <i class="fa fa-phone"></i> Kapcsolat
                        <span>080 378678 90</span>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i> Email felénk
                        <span>sales@realspaces.com</span>
                    </div>
                    <div>
                        <i class="fa fa-clock-o"></i> Ügyfélszolgálat
                        <span>09:00 to 17:00</span>
                    </div>
                </div>
                <a href="#" class="visible-sm visible-xs menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navigation">
                    <ul class="sf-menu">
                        <li *ngFor="let menu of menus, let i=index"><a [routerLink]="['/',menu.link]"    >{{menu.caption}}</a>
                            <ul class="dropdown">
                                <li *ngFor="let submenu of menu.submenu, let i=index"><a href="/#/{{submenu.link}}">{{submenu.caption}}</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- Site Showcase -->
<div *ngIf="(bannerShow)"  class="site-showcase">
    <div class="slider-mask overlay-transparent"></div>
    <div class="col-md-12 col-sm-12"><img width="100%" src="img/banner.jpg"></div>

</div>
<!-- End Hero Slider -->
