<header class="site-header">
    <div class="top-header hidden-xs">
        <div class="container">
            <div class="row"  *ngIf="!logged">
                <div class="col-md-4 col-sm-6">
                    <ul class="horiz-nav pull-left">
                        <li class="dropdown">
                            <a (click)="openLoginPanel()"><i class="fa fa-user"></i> Bejelentkezés<b class="caret"></b></a>
                            <ul *ngIf="loginDropdownOpen" class="login-dropdown">
                                <li><input [(ngModel)]="email" type="text" placeholder="e-mail"></li>
                                <li><input   [(ngModel)]="password" type="password" ></li>
                                <li>

                                    <button type="submit" (click)="login()" class="btn btn-primary">Bejeletkezés</button>



                                </li>
                                <li><a href="">Elfelejtettem jelszavamat</a></li>
                            </ul>
                        </li>
                        <li><a href="/#/regisztracio"><i class="fa fa-check-circle"></i> Regisztáció</a></li>
                    </ul>
                </div>

            </div>
            <div class="row"  *ngIf="logged">
                <div class="col-md-4 col-sm-6">
                    <ul class="horiz-nav pull-left">
                        <li class="dropdown">
                            <a (click)="logOut()"> Kijelentkezés <b class="caret"></b></a>

                        </li>
                        <li><a href="/#/adataim"><i class="fa fa-check-circle"></i> Adataim</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <middle-bar  [menus]="middleMenus"></middle-bar>


</header>
