<div *ngIf="deitalPanelBlock=='ingatlan'">
    <ul>
        <li>
            <div class="field">Település:</div>
            <div class="value">{{ingatlanObject.ingatlan_varos}}</div>
        </li>
        <li>
            <div class="field">Alapterület:</div>
            <div class="value">{{ingatlanObject.ingatlan_telek_nm2}} m<sup>2</sup></div>
        </li>
        <li>
            <div class="field">Lakóterület:</div>
            <div class="value">{{ingatlanObject.ingatlan_nm2}} m<sup>2</sup></div>
        </li>
        <li>
            <div class="field">Szobák száma:</div>
            <div class="value">{{ingatlanObject.ingatlan_szobak}} db.</div>
        </li>
        <li>
            <div class="field">Garázs:</div>
            <div class="value">{{ingatlanObject.ingatlan_garazs}} db.</div>
        </li>
        <li>
            <div class="field">Ingatlan értéke:</div>
            <div class="value">{{ingatlanObject.ingatlan_ar*1.0 |  currency:'EUR':true:'1.2-2' }}</div>
        </li>
        <li>
            <div class="field">Sorsjegy ára:</div>
            <div class="value">{{ingatlanObject.sorsjegy_ar*1.0 |  currency:'EUR':true:'1.2-2' }}</div>
        </li>
    </ul>
    <span style="height: 10px" >&nbsp;</span>
    <szavazogomb [ingatlanObject]="ingatlanObject" ></szavazogomb>
</div>
<div class="leiras" *ngIf="deitalPanelBlock=='leiras'">
    <ul>
        <li>
            <div class="field">Ingatlan leírása:</div>
            <div class="value">{{ingatlanObject.ingatlan_leiras}}</div>
        </li>

    </ul>
    <span style="height: 10px" >&nbsp;</span>
    <szavazogomb [ingatlanObject]="ingatlanObject" ></szavazogomb>
</div>
<div class="aukcio" *ngIf="deitalPanelBlock=='aukcio'">
    <ul>
        <li>
            <div class="field">Kibocsájtott sorsjegyek:</div>
            <div class="value">{{ingatlanObject.kibocsajtott_sorsjegyek}} db.</div>
        </li>
        <li>
            <div class="field">Megvásárol sorsjegyek</div>
            <div class="value">{{ingatlanObject.megvasarolt_sorsjegyek}}</div>
        </li>
        <li>
            <div class="field">Függőben lévő vásárlások</div>
            <div class="value">{{ingatlanObject.fuggo_sorsjegyek}}</div>
        </li>
        <li>
            <div class="field">Vásárolható sorsjegyek</div>
            <div class="value">{{ingatlanObject.vasarolhato_sorsjegyek}}</div>
        </li>
        <li>
            <div class="field">Egy sorsjegy ára</div>
            <div class="value">{{ingatlanObject.sorsjegy_ar*1.0 |  currency:'EUR':true:'1.2-2' }}</div>
        </li>

        <li style="height: 150px;">
            <div class="field" style="height: 40px">Legtöbb sorsjeggyel rendelkezők:</div>
            <div class="value" style=" width: 90%;  color: black; font-weight: normal;">
                <table>
                    <tr>
                        <th>Név</th>
                        <th>Sorsjegy db.</th>
                    </tr>
                    <tr>
                        <td>I. István</td>
                        <td>4 db.</td>
                    </tr>
                    <tr >
                        <td >I. István</td>
                        <td >4 db.</td>
                    </tr>
                    <tr>
                        <td>I. István</td>
                        <td>4 db.</td>
                    </tr>


                </table>
            </div>
        </li>

    </ul>

    <szavazogomb [ingatlanObject]="ingatlanObject" ></szavazogomb>
</div>