header{
    background-color: #ff8484;
    height: 50px;
    color: white;
    font-weight: bold;

    font-size: 15px;
    text-align: center;
}
.headCol:hover{
    cursor: pointer;
    height: 50px;
    background-color: #000066;
}
.head-labels{
     padding: 15px 0px 15px 0px;
    color: white;
}
