section{
    padding: 20px;
    background-color: #e6ee9c;
    margin: 20px;
}
.tulaj{

    background-color: #ffc0b6;
}
.sorsjegy{

    background-color: #feffa8;
}
.kepek{

    background-color: #89fffc;
}
img{
    border: solid 3px #ccc;
    margin: 5px;
}
.btn{
    width: 100%;
    background-color: #ff8484;
}

.green{
    background-color: #00e676;
}