span {
    display: block;
    background-color: #0000ee;
}
.bar {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2dfed+0,c8d7eb+26,bed0ea+51,a6c0e3+51,afc7e8+62,bad0ef+75,99b5db+88,799bc8+100;Grey+Blue+Gloss+%231 */
    background: #d2dfed; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2dfed 0%, #c8d7eb 26%, #bed0ea 51%, #a6c0e3 51%, #afc7e8 62%, #bad0ef 75%, #99b5db 88%, #799bc8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */


position:fixed;
    height:50px;

    bottom:50px;
    left:0px;
    right:0px;
    margin-bottom:0px;

}
button {
    height: 30px;
    width: 30px;
}

.editorTopRight{
 position: relative;
float: right;


}
.source{
    position:fixed;
    height:150px;

    bottom:150px;
    left:0px;
    right:0px;


    margin-bottom:145px;
}
.source textarea{
    width: 100%;
    height: 345px;px ;
    background-color: black;
    color: greenyellow;
    font-size: 20px;
    line-height: 30px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
:host .dynamic {

}
