<div class="" (mouseover)="viewIconsIconsVisible=true " (mouseleave)="viewIconsIconsVisible=false"
     [ngStyle]="{
     'padding-left':mainstyle.padding+'px',
      'padding-right':mainstyle.padding+'px'




     }">
    <div class="row">
        <div *ngIf="viewIconsIconsVisible"
             [ngStyle]="{'width':mainstyle.width+'px'}"
             >
            <div class="editorTopRight">
                <button *ngIf="isEditing" class="fa fa-eye"
                        (click)="editing(false)"></button>
                <button *ngIf="!isEditing" class="fa fa-edit"
                        (click)="editing(true)"></button>
                <button class="fa fa-code"
                        (click)="onShowSource()"></button>
                <button class="fa fa-save" (click)="save()"></button>
                    <!--<button (click)="onCompressSource()">comp</button>-->
            </div>
        </div>
        <div *ngIf="isEditing">
            <div #editorContent


                    class="row" style="padding-bottom: 40px" (keyup)="refresh()"
                    contenteditable="true"

                    [innerHTML]="htmlcontent">

            </div>
            <div class="row" >
                <div class="bar">
                    <button class="fa fa-bold"
                            (click)="insertAction('<span style=font-weight:bold;>','</span>')"></button>
                    <button class="fa fa-italic"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-underline"
                            (click)="insertAction('<span style=text-decoration:underline>','</span>')"></button>
                    <button class="fa fa-strikethrough"
                            (click)="insertAction('<span style=text-decoration:line-through>','</span>')"></button>

                    <button class="fa fa-align-left "
                            (click)="insertAction('<p style=text-align:left>','</p>')"></button>
                    <button class="fa fa-align-center"
                            (click)="insertAction('<p style=text-align:center>','</p>')"></button>
                    <button class="fa fa-align-right"
                            (click)="insertAction('<p style=text-align:right>','</p>')"></button>
                    <button class="fa fa-align-justify"
                            (click)="insertAction('<p style=text-align:justify>','</p>')"></button>

                    <button (click)="onChangeMainStyle('expand')" class="fa" style="width: 45px">
                        &#xf060;&#xf061;
                    </button>
                    <button (click)="onChangeMainStyle('compress')" class="fa" style="width: 45px">
                       &#xf061; &#xf060;
                    </button>


                    Betűméret:
                    <select #fontSize (change)="changeFontSize(fontSize.value)">
                        <option *ngFor="let size of fontSizes, let i=index">{{size}}</option>
                    </select>
                    Sormagasság:
                    <select #lineSize (change)="changelineSize(lineSize.value)">
                        <option *ngFor="let size of fontSizes, let i=index" value="{{size}}">{{size}}</option>
                    </select>
                    Betűszín:
                    <select style="width: 100px" #fontColor (change)="changeFontColor(fontColor.value)" >
                        <option *ngFor="let color of fontColors, let i=index" style="background-color: {{color}};widht:60px" value="{{color}}" >{{color}}</option>

                    </select>
                   Háttér:<select style="width: 100px" #bgColor (change)="changebgColor(bgColor.value)" >
                        <option *ngFor="let color of fontColors, let i=index" style="background-color: {{color}};widht:60px" value="{{color}}" >{{color}}</option>

                    </select>
                    <button
                            (click)="insertImg()">IMG</button>
                    <!--Előre formázott:
                    <select #customClass (change)="changeFontColor(customClass.value)">
                        <option *ngFor="let customClass of customClasses, let i=index">{{customClass.name}}</option>

                    </select>-->
                    <!--<button class="fa fa-list-ul"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-outdent"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-youtube-square"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-youtube-square"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-undo"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <button class="fa fa-paste"
                            (click)="insertAction('<span style=font-style:italic>','</span>')"></button>
                    <select>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="14">14</option>
                    </select>
                    <select>
                        <option value="blue">Kék</option>
                        <option value="black">Fekete</option>
                        <option value="red">Piros</option>
                    </select>-->


                </div>
            </div>
        </div>


        <div class="dynamic" *ngIf="!isEditing" (keyup)="refresh()" #editorContent

             [innerHTML]="getHtml()">
        </div>

    </div>
</div>
<div class="source" *ngIf="showSource">
    <div class="row">
                        <textarea  [(ngModel)]="source" (keyup)="updateFromSource()"
                                   rows="15"

                                  ></textarea>
    </div>
</div>
