.login-dropdown{
    border: dotted 1px #f55a4e;
    background-color: white;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    width: 410px;
    height: 60px;
    line-height: 12px;
}
.login-dropdown li{
    float: left;
    padding: 10px 10px 0px 10px;

}
.login-dropdown input{
    width:120px;
    height: 20px;

}
.login-dropdown button{
    height: 20px;
    font-size: 12px;
    padding: 0px 10px 0px 10px;


}
