<a  *ngIf="callingButton=='kicsi'" (click)="modalOpen(modal)" >
  <img width="55px" src="template/images/btn_licit.png">
  </a>
<button *ngIf="callingButton=='nagy'" (click)="modalOpen(modal)"   type="button" class="btn btn-custom"> SORSJEGY VÁSÁRLÁSA</button>

<modal #modal>


  <modal-header>
    <button  (click)="modalClosed()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2  *ngIf="userLoged">Sorsjegy vásárlásának megerősítése.</h2>
    <h2  *ngIf="!userLoged">Bejelentkezés szükséges!</h2>

  </modal-header>

  <modal-body>
    <div  *ngIf="userLoged" class="row">
      <div class="col-xs-12">
        <p>Tisztelt Vásárló!</p>
        <p>A vásárlás jóváhagyásához kérem nyomja meg a jóváhagy gombot. Hamarosan egy e-mal fog érkezni az Ön e-mail címére. </p>
        <p>Kérem kövesse az e-mailben leírt utasításokat. </p>

        <p><br/><br/><br/> </p>
        <p>Sok szerencsét kívánumk! </p>
      </div>
    </div>
    <div  *ngIf="!userLoged" class="row">
      <div class="col-xs-12">
        <p>Tisztelt Vásárló!</p>
        <p>A vásárláshoz kérem jelentkezzen be!</p>
      </div>
    </div>


  </modal-body>
  <modal-footer class="modal-footer">

    <a *ngIf="userLoged" (click)="confirm()" data-dismiss="modal"><button type="submit" class="btn btn-danger pull-right">Vásárlás jóváhagyása</button></a>
    <a *ngIf="!userLoged"  data-dismiss="modal"><button type="submit" (click)="goRegister()" class="btn btn-danger pull-right">Szeretnék regisztrálni!</button></a>
    <button   (click)="modal.close(); modalClosed()" type="submit" class="btn btn-default pull-right">Mégse</button>


  </modal-footer>
</modal>
