
<div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes"
     data-style="fade" data-pause="yes">
  <ul class="slides">
    <li >
      <img style=" width: 100%" src="template/images/banner1.png" />

    </li>
    <li >
      <img style=" width: 100%" src="template/images/banner2.png" />

    </li>
    <li >
      <img style=" width: 100%" src="template/images/banner3.png" />

    </li>
    <li >
      <img style=" width: 100%" src="template/images/banner4.png" />

    </li>
    <li >
      <img style=" width: 100%" src="template/images/banner5.png" />

    </li>

  </ul>
</div>
<!-- End Hero Slider -->
<div class="container">

<!-- ------------------------------INGATLANLISTA-----BEGIN------------------------- -->
  <div class="row" style="margin-bottom: 25px">
    <header>
      <div class="container-fluid">
        <div class="row no-gutter">

          <head-label (click)="load('lista')"[css]="'btnBlue'" class="col-md-4" [caption]="'Aktuális ingatlanok'"></head-label>
          <head-label (click)="load('kivalasztott')" [css]="'btnGreen'" class="col-md-4" [caption]="'Kiválasztott ingatlanok'"></head-label>
         </div>
      </div>
    </header>
  </div>
  <!-- ------------------------Ingatlanok listája SLIDER -------------------------->
  <app-hunk-slider
    [movingObjectArray]="(listaTipus=='lista')?ingatlanok:_KivalasztottIngatlanokService.kivalasztottIngatlanok"
    [objWidth]="250"
    (ingatlanSelected)="onIngatlanSelect($event)"
    ></app-hunk-slider>
  <!-- ------------------------------INGATLANLISTA--END---------------------------- -->

  <!-- ------------------------------INGATLAN RÉSZLETEK------------------------------ -->
  <!--------------------------------------Header-------------------------------------->
  <div class="row">
    <header>
      <div class="container-fluid">
        <div class="row no-gutter">
          <head-label (click)="showIngatlanReszletei('ingatlan')" class="col-md-4"
                      [caption]="'INGATLAN RÉSZLETEI'"></head-label>
          <head-label (click)="showIngatlanReszletei('leiras')" [css]="'btnRed'" class="col-md-4"
                      [caption]="'LEÍRÁS'"></head-label>
          <head-label (click)="showIngatlanReszletei('aukcio')" [css]="'btnGreen'" class="col-md-4"
                      [caption]="'AUKCIÓ ÁLLAPOTA'"></head-label>
        </div>
      </div>
    </header>
  </div>
  <!--------------------------------------right side details-------------------------------------->
  <div class="row" id="ingatlanFullDeital">
    <div class="row no-gutter">
      <div class="property-grid" *ngIf="selectedIngatlan">

        <ingatlan-full
          [ingatlanObject]="selectedIngatlan"
          [deitalPanelBlock]="deitalPanelBlock"
          ></ingatlan-full>

      </div>
    </div>
  </div>
  <!-- ------------------------------INGATLAN RÉSZLETEK--END---------------------------- -->


</div>


