<div ng-class="row" *ngIf="gombStyle=='nagy'">
    <div class="szavazogomb">
        <div class="progress">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                 aria-valuemax="100" style="width:  {{ingatlanObject.szazalek_ertekesitve}}%;">
                {{ingatlanObject.szazalek_ertekesitve}}%
            </div>
        </div>

      <app-modal *ngIf="gombStyle=='nagy'"  [callingButton]="'nagy'" (valueConfirmed)="vasarlas_elfogadva()"></app-modal>




    </div>
</div>
<!--<div  *ngIf="gombStyle=='kicsi'" (click)="vasarlok()" style="float: right"><img width="55px" src="template/images/btn_licit.png"></div>-->
<app-modal *ngIf="gombStyle=='kicsi'"  [callingButton]="'kicsi'" (valueConfirmed)="vasarlas_elfogadva()"></app-modal>
