header {
    background-color: #efefef;
    line-height: 50px;
    margin-top: 50px;
}

#elementID {
    color: #hhh;
    text-shadow: 2px 2px 2px #ccc;
    font-size: 5.5em;
}

.fa-th, .fa-th-large, .fa-ellipsis-h, .fa-chevron-left, .fa-chevron-right {
    color: #aaa;
}


/*
ul li {
  cursor: pointer;
  padding-top: 17px;
  padding-right: 16px;
  display: inline;
  font-size: 20px;

  color: red;
  float: right;
}
*/

ul li {
    width: 1200px;
    float: left;
    display: block;
}
