<div class="parallax page-header" style="background-image:url('template/images/winners.png');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Jelszó emlékeztető</h1>
            </div>
        </div>
    </div>
</div>

<app-hunk-toolbar-component
        [show]="toolbarshow"
        (toolbarLeave)="onToolbarLeave('forgotpass')"
        (changeView)="onChangeView($event)"
        (save)="saveContent()"
        >
</app-hunk-toolbar-component>
<!-- End Page Header -->

<!-- Start Content -->

<div id="content" class="content full" (mouseleave)="toolbarshow=true">
    <div class="container">
        <div class="page">
            <div class="row">
                <div class="col-md-12 col-sm-6 register-form">
                    <!--------------------------------------Editor Implant-------------------------------------->
                    <div class="inner">
                        <app-ckeditor
                                *ngIf="editorshow"
                                [htmlValue]="_HtmlcontentsService.getContent('forgotpass')"

                                [INDEX]="forgotpass"

                                [fileUploader]="false"
                                (valueChanged)="onValueChanged($event)"
                                ></app-ckeditor>
                    </div>
                    <!--------------------------------------Editor Implant-------------------------------------->
                    <div class="alert alert-default fade in" *ngIf="!editorshow" hunkhtml
                         [htmlContent]="_HtmlcontentsService.getContent('forgotpass')"></div>

                </div>

                <div class="col-md-6 col-sm-6 register-form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        <input #mail type="email" value="hunk74@gmail.com" class="form-control" placeholder="Email">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 register-form">
                    <button (click)="sendReminderMail(mail.value)" type="submit" class="btn btn-primary">Tovább </button>

                </div>


            </div>
        </div>
    </div>
</div>



