<table width="100%">
    <tr>
        <th width="25%">Licit azonosito</th>
        <th width="25%">Licitáló neve</th>
        <th width="25%">Email</th>
        <th width="25%">Licitálás dátuma</th>
        <th width="25%">Állapot</th>


    </tr>
    <tr  *ngFor="let licit of licitalasok, let i=index">
        <td>{{licit.code}}</td>
        <td>{{licit.user_name}}</td>
        <td>{{licit.user_email}}</td>
        <td>{{licit.created_at | hunkDate:'magyar'}}</td>
        <span style="text-align: center;color: orangered;font-weight: bold" *ngIf="!licit.jovahagyva">Megrendelve</span>
        <span style="text-align: center;color: green;font-weight: bold"  *ngIf="licit.jovahagyva">Átutalva</span>



    </tr>
</table>
