<div class="parallax page-header" style="background-image:url(http://placehold.it/1200x260&amp;text=IMAGE+PLACEHOLDER);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bejelentkezés/Regisztráció</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->

<!-- Start Content -->

    <div id="content" class="content full">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-default fade in">


                          <hunk-richtext  *ngIf="submitButtonCaption=='Adatok módosítása'"
                            [htmlcontent]="_HtmlcontentsService.contents.adataim_balbox.content"
                            (saved)="_HtmlcontentsService.setContent(_HtmlcontentsService.contents.adataim_balbox.id,$event)"

                            ></hunk-richtext>
                          <hunk-richtext  *ngIf="submitButtonCaption!='Adatok módosítása'"
                            [htmlcontent]="_HtmlcontentsService.contents.regisztracio_mielott.content"
                            (saved)="_HtmlcontentsService.setContent(_HtmlcontentsService.contents.regisztracio_mielott.id,$event)"

                            ></hunk-richtext>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 register-form">
                        <h3>Regisztráció</h3>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input [(ngModel)]="currentUser.name" type="text" class="form-control" placeholder="Teljes név">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                <input [(ngModel)]="currentUser.email"  [disabled]="submitButtonCaption=='Adatok módosítása'" type="email" class="form-control" placeholder="Email">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input [(ngModel)]="currentUser.password"  type="password" class="form-control" placeholder="Jelszó">
                            </div>
                            <br>
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-refresh"></i></span>
                                <input [(ngModel)]="currentUser.password2" id="pass2" type="password" class="form-control" placeholder="Jelszó ismét">
                            </div>
                            <br>
                            <button (click)="onRegiser()" type="submit" class="btn btn-primary">{{submitButtonCaption}}</button>

                    </div>
                    <div class="col-md-4 col-sm-4 register-form">
                        <h3>&nbsp;</h3>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input [(ngModel)]="currentUser.cim_telefon" type="text" class="form-control" placeholder="Telefonszám">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input  [(ngModel)]="currentUser.cim_irsz" type="text" class="form-control" placeholder="Irsz:">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input  [(ngModel)]="currentUser.cim_varos" type="text" class="form-control" placeholder="Település">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input [(ngModel)]="currentUser.cim_cim"  type="text" class="form-control" placeholder="Postacím">
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
