<main class="mainContent">
    <div class="container">

        <div class="row">
            <div class="panel panel-default panelList">

                <div class="panel-body">
                    <div class="panelHeader">
                        <div class="pull-left">
                            <li class="dropdown">
                                <a (click)="menuOpen(operationMenu)" style="cursor: pointer" class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    Műveletek <span class="caret"></span></a>
                                <ul *ngIf="operationMenu.visible" class="dropdown-menu" style="display:block">
                                    <li *ngFor="let submenu of operationMenu.submenus, let i=index"><a (click)="runOperation(submenu)">{{submenu.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </div>


                        <div class="pull-right">
                            alapján
                        </div>
                        <div class="pull-right">
                            <li class="dropdown">
                                <a (click)="menuOpen(orderByMenu)" style="cursor: pointer" class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    {{gridController.orderBy.name}} <span class="caret"></span></a>
                                <ul *ngIf="orderByMenu.visible" class="dropdown-menu" style="display:block">
                                    <li  *ngFor="let submenu of orderByMenu.submenus, let i=index"><a (click)="changeOrderBy(submenu.orderBy)">{{submenu.orderBy.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <div class="pull-right">
                            <strong>Rendezés</strong>
                        </div>
                        <div class="divclear"></div>
                    </div>
                    <!--GRID-->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>

                                <th>Kontakt</th>
                                <th class="text-right">Név</th>
                                <th class="text-right">E-mail cím</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  *ngFor="let partner of partners, let i=index">
                                <th scope="row">
                                    <div class="pull-left">

                                    </div>
                                    <div class="pull-left">
                                        <a href="#">{{partner.id}}</a><br>

                                    </div>
                                </th>
                                <td>
                                    {{partner.name}}

                                </td>
                                <td class="text-right">-</td>
                                <td class="text-right">{{19300 |  number:'3.2-5' | hunkCurrency}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--ENDOF GRID-->
                </div>
            </div>
            <div class="paginationBlock">
                <div class="pull-left">
                    <li class="dropdown">
                        <a (click)="menuOpen(limitMenu)" style="cursor: pointer" class="dropdown-toggle"
                           data-toggle="dropdown">
                            {{gridController.limit}} <span class="caret"></span></a>
                        <ul *ngIf="limitMenu.visible" class="dropdown-menu" style="display:block">
                            <li *ngFor="let submenu of limitMenu.submenus, let i=index"><a  (click)="changeLimit(submenu.name)">{{submenu.name}}</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="pull-left">
                    sor oldalanként. Összesen: <strong>{{gridController.count}} találat.</strong>
                </div>
                <div class="pull-right">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a (click)="gotoPage(gridController.currentPage-1)"  aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>
                            </li>

                            <li class="{{page==gridController.currentPage ? 'active' : ''}}"  *ngFor="let page of avaiblePages, let i=index"><a  (click)="gotoPage(page)">{{page}}</a></li>
                            <li>
                                <a (click)="gotoPage(gridController.currentPage+1)"  aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>

