ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
li {
  /*position: absolute;*/
  height: 280px;
  width: 250px;

  display: inline-block;
}
.nextarrow{
  background:rgba(0,0,0,.6);
  color:#f8f7f3;
  display:block;

  padding: 10px 0px 10px 0px;
  position:absolute;

  cursor: pointer;
  font-size:19px;
  line-height:25px;
  width:35px;
  height:45px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration:none;

  text-align:center;
  border-radius:5px;

}
