<div class="site-showcase">
  <!-- Start Page Header -->
  <div class="parallax page-header" style="background-image:url('template/images/winners.png');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{_HtmlcontentsService.getTitle(currentContent)}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header -->
</div>
<!----------------------------------------Toolbar begin---------------------------------------->
<app-hunk-toolbar-component
        [show]="toolbarshow"
        (toolbarLeave)="onToolbarLeave($event)"
        (changeView)="onChangeView($event)"
        (save)="saveContent()"
        >
</app-hunk-toolbar-component>

<!-- Start Content -->
<div class="main" role="main" style="padding-top: 0px"  (mouseleave)="toolbarshow=true">
  <!--------------------------------------Editor Implant-------------------------------------->
  <div class="inner" >
    <app-ckeditor  *ngIf="editorshow"
                   [htmlValue]="_HtmlcontentsService.getContent(currentContent)"
                   [PATH]="'images/'+currentContent"
                   [INDEX]="currentContent"
                   [imgParams]="[{width: 300, subdir: 'kicsi'}]"
                   [fileUploader]="true"
                   (valueChanged)="onValueChanged($event)"
            ></app-ckeditor>
  </div>
  <!--------------------------------------Editor Implant-------------------------------------->


  <div id="content" class="content full">
    <div class="container">
      <div class="page">
        <div class="row">
          <div class="col-md-12 col-sm-12" >
            <!--------------------------------------Content begin-------------------------------------->

            <div  *ngIf="!editorshow" class="inner">
              <div  hunkhtml [htmlContent]="_HtmlcontentsService.getContent(currentContent)" ></div>
            </div>
            <!--------------------------------------Content end-------------------------------------->

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- Start Site Footer -->